{% extends "monitor/base.html" %}
<!-- 隐藏分隔条 -->
<!--<div class="ui hidden divider"></div>-->
{% csrf_token %}
<!-- 写入 base.html 中定义的 body content -->
{% block body %}
<div id="pusher" class="pusher" style="padding-top:50px">
<div id="main" style="width: 100%;height:100%;"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    var option = {
        title: {
                text: '华为云近半年费用构成(单位：元）',
                textStyle: {
                    fontSize: 18,
                    align: 'center'
                },
            },
        legend: {},
        tooltip: {
            trigger: 'axis',
            showContent: false
        },
        dataset: {
            source: [
                ['product', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12', '2021-01'],
                ['SFS', 84198, 99963, 91324, 93604, 116970, 74517],
                ['ECS', 64360, 60361, 62360, 62613, 67950, 54616],
                ['OBS', 31514, 50335, 32731, 35960, 47635, 37189],
                ['VPC', 2904, 4005, 2933, 4751, 5173, 2136],
                ['云硬盘', 1566, 1639, 1940, 2047, 1864, 2104],
                ['网络', 260, 252, 275, 252, 260, 218],
            ]
        },
        xAxis: {type: 'category'},
        yAxis: {gridIndex: 0},
        grid: {top: '55%'},
        series: [
            {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
            {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
            {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
            {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
            {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
            {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
            {
                type: 'pie',
                id: 'pie',
                radius: '30%',
                center: ['50%', '25%'],
                emphasis: {focus: 'data'},
                label: {
                    formatter: '{b}: {@2020-08} ({d}%)'
                },
                encode: {
                    itemName: 'product',
                    value: '2020-08',
                    tooltip: '2020-08'
                }
            }
        ]
    };
    myChart.on('updateAxisPointer', function (event) {
        var xAxisInfo = event.axesInfo[0];
        if (xAxisInfo) {
            var dimension = xAxisInfo.value + 1;
            myChart.setOption({
                series: {
                    id: 'pie',
                    label: {
                        formatter: '{b}: {@[' + dimension + ']} ({d}%)'
                    },
                    encode: {
                        value: dimension,
                        tooltip: dimension
                    }
                }
            });
        }
    });
    myChart.setOption(option);
</script>


{% endblock body %}