{% extends "monitor/base.html" %}
{% block body %}
<div id="pusher" class="pusher" style="padding-top:50px">
<table id="example" class="display" style="width: 100%;height:100%;">
    <thead>
    <tr>
        <th align="left">project</th>
        <th align="left">path</th>
        <th align="left">size(G)</th>
        <th align="left">date</th>
    </tr>
    </thead>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            'ajax': '{% url 'moni:get_project' %}',
            'columns': [
                {'data': 'project'},
                {'data': 'path'},
                {'data': 'size'},
                {'data': 'datetime'},
            ],
            'language': {
                'url': '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json' // 以中文显示
            },
            "pageLength": 100,
            buttons: ['excel','csv','copy'],
            "lengthMenu": [10, 25, 50, 75, 100],
            dom: 'Bfrtip',
        })
    })
</script>
{% endblock body %}